body {
  margin: 0;
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

// Define mixins for flex gaps
@mixin flex-gap($size) {
  gap: $size;
}

// Define the different gap sizes
$gap-sizes: (
  1: 4px,
  2: 8px,
  3: 16px,
  4: 32px,
);

// Generate classes for flex row gap sizes
@each $key, $size in $gap-sizes {
  .gap-row-#{$key} {
    display: flex;
    flex-direction: row;
    @include flex-gap($size);
  }
}

// Generate classes for flex column gap sizes
@each $key, $size in $gap-sizes {
  .gap-column-#{$key} {
    display: flex;
    flex-direction: column;
    @include flex-gap($size);
  }
}
